body
{
    padding: 20px;
}

h1
{
    text-align: center;
    margin-top: 20px;
}

p
{
    vertical-align: middle;
}

img
{
    vertical-align: middle;
}

span
{
    vertical-align: middle;
}

#logo
{
    margin: auto;
    display: block;
    text-align: center;
    width: 200px;
    height: 200px;
}

td, th
{
    padding: 5px;
    vertical-align:middle;
    margin: 0px;
}

#detail
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
}

#detail td
{
    background-color: #ACBEFF;
}

#mainTable
{
    border-style: solid;
    border-width: 2px;
    background-color: #FCA5A5;
    border-collapse:collapse;
}
#mainTable th
{
    align: center;
}

.noColorTr td
{
    background-color: white;
}